@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');
@import url('https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css');
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css');
@import url('bg.css');

:root {
	--ivory: #FBFFF1;
	--almost-white: #fafafa;
	--blue-light: #B4C5E4;
	--strato-blue: #0066FF;
	--blue-dark: #0047B3;
	--blue-darker: #002966;
	--dark: #3C3744;
}

* {
	font-family: 'Maven Pro', sans-serif;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
}

a {
	color: var(--dark);
	transition: .3s ease-in-out;
	text-decoration: none;
	background: linear-gradient(to bottom, var(--strato-blue) 0%, var(--strato-blue) 100%);
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 4px 4px;
	cursor: pointer;
}

a:hover {
	color: var(--dark);
	text-decoration: none;
}

h1 {

}

h2 {

}

h3 {
	font-size: 40px;
	font-family: 500;
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.align-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.gradient {
	background: linear-gradient(235deg, #0052cc, #0066ff, #3385ff);
	background-size: 600% 600%;
	-webkit-animation: gradient 34s ease infinite;
	-moz-animation: gradient 34s ease infinite;
	animation: gradient 34s ease infinite;
}
@-webkit-keyframes gradient {
	0%{background-position:0% 82%}
	50%{background-position:100% 19%}
	100%{background-position:0% 82%}
}
@-moz-keyframes gradient {
	0%{background-position:0% 82%}
	50%{background-position:100% 19%}
	100%{background-position:0% 82%}
}
@keyframes gradient {
	0%{background-position:0% 82%}
	50%{background-position:100% 19%}
	100%{background-position:0% 82%}
}

/* PRELOADER */

@keyframes hovering {
	0% {margin-top: 0px;}
	50% {margin-top: 30px;}
	100% {margin-top: 0px;}
}

@keyframes load {
	from {width: 1%;}
	to {width: 100%;}
}

.load-wrap {
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	background-color: #FFF;
	flex-direction: column;
}

.load-can {
	height: 150px;
}

.load-can img {
	height: 120px;
	margin-left: auto;
	margin-right: auto;
	animation-name: hovering;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

.load-bar {
	width: 100px;
	margin-top: 20px;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 9999px;
	padding: 3px;
}

.load-bar div {
	border-radius: 9999px;
	height: 10px;
	background-color: var(--strato-blue);
	animation-name: load;
	animation-duration: 3.5s;
	animation-timing-function: ease-in-out;
}

/* WELCOME */

.welcome {
	height: 100vh;
}

.welcome-inner {
	height: 100%;
}

.welcome-inner > div {
	width: min-content;
	text-align: center;
	background-color: var(--strato-blue);
	padding: 5%;
	border-radius: 100%;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.welcome-inner img {
	width: 250px;
}

.welcome-icon {
	font-size: 35px;
	position: absolute;
	left: 0; 
	right: 0; 
	bottom: 20px;
	margin: 0 auto;
	background: white;
	border-radius: 100%;
	height: 41px;
	width: 41px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	animation: bounce 3s infinite;
}

.welcome-icon::before {
	position: relative;
	display: block;
	width: 41px;
	height: 41px;
	line-height: 44px;
	text-align: center;
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-moz-transform: translateY(-30px);
		-ms-transform: translateY(-30px);
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px);
	}
	60% {
		-moz-transform: translateY(-15px);
		-ms-transform: translateY(-15px);
		-webkit-transform: translateY(-15px);
		transform: translateY(-15px);
	}
}

/* WTF */

.wtf {
	padding: 150px 0;
	box-shadow: 0 -2px 6px rgba(0,0,0,0.16), 0 -2px 6px rgba(0,0,0,0.23);
}

.wtf h1 {
	text-align: center;
	font-size: 50px;
	margin-bottom: 80px;
}

.wtf p {
	text-align: center;
	width: 70%;
	font-size: 24px;
}

/* PRIMARY */

.primary {
	padding: 100px 0;
}

.primary h1 {
	position: relative;
	font-size: 70px;
	font-weight: 700;
	z-index: 1;
}

.primary h1::before {
	content: "Primární mise";
	font-size: 70px;
	color: var(--strato-blue);
	opacity: 0.8;
	font-weight: 700;
	position: absolute;
	top: -2px;
	left: 3px;
	z-index: -1;
}

.primary-card {
	background: white;
	border-radius: 10px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	overflow: hidden;
}

.primary-card-inner {
	margin: 20px;
}

.primary-card p {
	font-size: 20px;
}

/* SECONDARY */

/* TEAM */

.team {
	background-color: var(--strato-blue);
	padding: 80px 0;
}

.team h1 {
	color: white;
	text-align: center;
	font-size: 50px;
	margin-bottom: 80px;
}

.team .row {
	margin: 100px 0;
}

.kokot-wrap {
	height: min-content;
	width: min-content;
	border-radius: 50%;
	border: 5px solid #FFF;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.team img {
	width: auto;
	height: 380px;
	border: 5px solid var(--strato-blue);
	border-radius: 50%;
}

.team-text {
	width: max-content;
	color: #FFF;
}

.team li {
	font-size: 30px;
	font-weight: 400;
}

/* SPONSORS */

.sponsors {
	padding: 100px 0;
	background-color: var(--almost-white);
}

.sponsors .frontside .card {
	background: white;
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2),0px 0px 0px 0px rgba(0, 0, 0, 0.14),0px 0px 0px 0px rgba(0,0,0,.12);
	border: solid 1px #e0e0e0;
	border-radius: 4px;
}

.sponsors .backside .card {
	background: white;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	border: none;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
	transform: rotateY(0deg);
	border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
	transform: rotateY(180deg);
}

.mainflip {
	transition: 1s;
	transform: perspective(1000px);
	transform-style: preserve-3d;
	position: relative;
}

.frontside {
	position: relative;
	transform: rotateY(0deg);
	z-index: 2;
	margin-bottom: 30px;
}

.backside {
	position: absolute;
	top: 0;
	left: 0;
	transform: rotateY(-180deg);
}

.frontside,
.backside {
	backface-visibility: hidden;
	transition: 1s;
	transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
	min-height: 312px;
}

.backside .card a {
	font-size: 23px;
	color: var(--strato-blue) !important;
}

.frontside .card .card-title,
.backside .card .card-title {
	color: var(--strato-blue) !important;
}

.frontside .card .card-body img {
	width: 120px;
	margin-bottom: 20px;
}
/* SOCIAL */

.social {
	padding: 50px 0;
	background: var(--strato-blue);
}

.social-ico {
	color: white;
	background: var(--strato-blue);
	border: solid 2px white;
	border-radius: 100%;
	padding: 10px;
	margin: 0 10px;
}

.social-ico:hover {
	color: var(--strato-blue);
	background: white;
}

.social-ico i {
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	font-size: 30px;
}

/* FOOTER */

.footer {
	background-color: black;
	overflow: auto;
}

.footer p {
	color: white;
	text-align: center;
	margin: 1rem 0;
}

/* 404 */

.four-o-four-body {
	height: 100vh;
}

.four-o-four img {
	width: 400px;
}

.four-o-four div {
	text-align: center;
	margin-top: -125px;
	margin-left: 10px;
}

.four-o-four a {
	text-align: center;
	width: 100%;
	display: block;
	background: none;
	color: var(--strato-blue);
	font-weight: 500;
	margin-top: 50px;
}

.four-o-four a:hover {
	color: var(--blue-dark);
}

/* webkit scrollbar for fun */

::-webkit-scrollbar-track {
	background: #FFF;
}

::-webkit-scrollbar-thumb {
	background: var(--strato-blue);
}

::-webkit-scrollbar-thumb:hover {
	background: var(--blue-dark);
}

/** RESPO */

/* xs devices */
@media (max-width: 576px) {
	.team img {
		height: 270px;
	}

	.team h3 {
		font-size: 35px;
	}

	.team li {
		font-size: 25px;
	}

	.social-ico {
		padding: 0;
	}

	.social-ico i {
		font-size: 22px;
	}

	.wtf h1 {
		font-size: 40px;
	}
}

/* sm devices (landscape phones, 576px and up)*/
@media (max-width: 768px) {

}

/* md devices (tablets, 768px and up)*/
@media (max-width: 992px) {
	.team {
		background: var(--strato-blue);
	}

	.team .row > div:first-child {
		margin-bottom: 50px;
	}

	.team-text h3 {
		text-align: center;
	}

	.wtf p {
		text-align: justify;
		font-size: 20px;
		width: 100%;
	}

	.wtf h1, .team h1 {
		margin-bottom: 50px;
	}
}

/* lg devices (desktops, 992px and up)*/
@media (max-width: 1200px) {
	.team .row:nth-child(odd) {
		flex-direction: row-reverse;
	}
}

/* xl devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	.team .row:nth-child(odd) {
		flex-direction: row-reverse;
	}
}